.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--content-left);
    background: #080808;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 15px;
    z-index: 2;
    gap: 40px;
    transition: 0.15s;
    overflow: hidden;
}
.sideBar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15px;
    background: #080808;
}
.sideBar:hover {
    width: 250px;
}
.sideBarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    margin-top: 40px;
    width: 100%;
    position: relative;
}
.headerIconContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 30px;
    height: auto;
    filter: invert(100%);
    background: transparent;
}
.sideBar h1 {
    position: absolute;
    left: 20px;
    color: #fff;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBar .addNewBtn {
    width: 100%;
    height: 50px;
    border-radius: 18px;
    border: none;
    background: #fff;
    color: #000;
    padding: 0 20px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
}
.addNewIcon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.addNewIcon > * {
    color: #000;
    width: 24px;
    height: 24px;
    stroke-width: 2;
}
.addNewBtn p {
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sidebarButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.sideBarButton {
    width: 100%;
    height: 50px;
    border-radius: 18px;
    border: none;
    background: transparent;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
}
.sideBarIcon {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBarIcon > * {
    color: #fff;
    width: 24px;
    height: 24px;
    stroke-width: 2;
}
.sideBarButton p {
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sideBarButton.selected {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    position: relative;
}
.sideBarButton.selected::after {
    content: "";
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 24px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
}
.sideBarButton.selected::before {
    content: "";
    position: absolute;
    left: -41px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(25px);
    transition: 0.3s;
}
.sidebarButtons .addNewBtn .sideBarIcon {
    color: #000;
}
.sidebarButtons .addNewBtn:hover {
    background: rgba(255, 255, 255, 0.7)
}
.sideBarButton:hover {
    background: rgba(255, 255, 255, 0.1);
}
.sideBarLogoContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.routeBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.sidebarButtons .sideBarIcon {
    color: #fff;
}
.sidebarButtons .sideBarIcon.selected {
    color: #fff;
}

/* ---------------- MOBILE BAR ---------------- */

.sidebarSmall {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #080808;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 2;
}
.sidebarSmallButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.routeBtnContainerSmall {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    padding: 6px;
}
.addNewBtnSmall {
    position: relative;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background: #0B0B0B;
    height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.addNewIconSmall {
    color: #fff;
    width: 24px;
    height: 24px;
}
.sidebarSmallButton {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    border-radius: 18px;
}
.sidebarSmallButtonInner {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarSmallButton .sidebarSmallButtonInner .sideBarSmallIcon {
    color: #fff;
    width: 24px;
    height: 24px;
}

.sidebarSmallButton.selected {
    background: rgba(255, 255, 255, 0.1);
}

.sidebarSmallButton.selected::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 4px;
    background: #fff;
    border-radius: 50px;
}


/* ------------- ALL ITEMS BUTTON ------------- */
.sideBarButton.selected:nth-child(1)::after {
    background: #fff;
}
.sideBarButton.selected:nth-child(1)::before {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.sidebarButtons .sideBarButton.selected:nth-child(1) .sideBarIcon.selected {
    color: #fff;
}
/* ------------- PASSWORDS BUTTON ------------- */
.sideBarButton.selected:nth-child(2)::after,
.sidebarSmallButton.selected:nth-child(2)::after {
    background: #FF4654;
}
.sideBarButton.selected:nth-child(2)::before,
.sidebarSmallButton.selected:nth-child(2)::before {
    background-image: radial-gradient(circle, rgba(255, 70, 84, 1) 0%, rgba(255, 70, 84, 0) 100%);
}
.sidebarButtons .sideBarButton.selected:nth-child(2) .sideBarIcon.selected > *,
.sidebarSmallButtons .sidebarSmallButton.selected:nth-child(2) .sideBarSmallIcon.selected {
    color: #FF4654;
}
/* ------------- PAYMENT CARDS BUTTON ------------- */
.sideBarButton.selected:nth-child(3)::after,
.sidebarSmallButton.selected:nth-child(3)::after {
    background: #FF3AAD;
}
.sideBarButton.selected:nth-child(3)::before,
.sidebarSmallButton.selected:nth-child(3)::before {
    background-image: radial-gradient(circle, rgba(255, 58, 173, 1) 0%, rgba(255, 58, 173, 0) 100%);
}
.sidebarButtons .sideBarButton.selected:nth-child(3) .sideBarIcon.selected > *,
.sidebarSmallButtons .sidebarSmallButton.selected:nth-child(3) .sideBarSmallIcon.selected {
    color: #FF3AAD;
}
/* ------------- BANK ACCOUNTS BUTTON ------------- */
.sideBarButton.selected:nth-child(4)::after,
.sidebarSmallButton.selected:nth-child(4)::after {
    background: #3FC5FF;
}
.sideBarButton.selected:nth-child(4)::before,
.sidebarSmallButton.selected:nth-child(4)::before {
    background-image: radial-gradient(circle, rgba(63, 197, 255, 1) 0%, rgba(63, 197, 255, 0) 100%);
}
.sidebarButtons .sideBarButton.selected:nth-child(4) .sideBarIcon.selected > *,
.sidebarSmallButtons .sidebarSmallButton.selected:nth-child(4) .sideBarSmallIcon.selected {
    color: #3FC5FF;
}
/* ------------- FAVORITES BUTTON ------------- */
.sideBarButton.selected:nth-child(5)::after,
.sidebarSmallButton.selected:nth-child(5)::after {
    background: #FFC526;
}
.sideBarButton.selected:nth-child(5)::before,
.sidebarSmallButton.selected:nth-child(5)::before {
    background-image: radial-gradient(circle, rgba(255, 197, 38, 1) 0%, rgba(255, 197, 38, 0) 100%);
}
.sidebarButtons .sideBarButton.selected:nth-child(5) .sideBarIcon.selected > *,
.sidebarSmallButtons .sidebarSmallButton.selected:nth-child(5) .sideBarSmallIcon.selected {
    color: #FFC526;
}
@media (max-width: 500px) {
    .sidebarSmall {
        display: flex;
    }
    .sideBar {
        display: none;
    }

}