.mobileSearchContainer {
    display: none;
}
@media (max-width: 500px) {
    .mobileSearchContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        padding: 50px 20px;
        gap: 50px;
    }
    .mobileSearchContainer.active {
        visibility: visible;
        opacity: 1;
    }
    .mobileSearchContainerInner {
        width: 100%;
    }
    .mobileSearchContainer input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        outline: none;
        color: #fff;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
    }
    .mobileSearchContainer input:focus {
        border-color: #fff;
    }
    .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
    }
    .closeIcon {
        width: 30px;
        height: 30px;
        color: #fff;
    }
    .searchItemsContainer {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
    }
}