.cardContainer {
    position: fixed;
    bottom: 0;
    width: 560px;
    background: #080808;
    top: 20px;
    right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 18px 18px 0 0;
    transition: 0.3s;
    box-shadow: 0 0 14px rgba(0, 0, 0, 1);
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    scrollbar-width: none;
}
.cardContainer::-webkit-scrollbar {
    display: none;
}
.open {
    transform: translateY(100%);
}
.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.closeBtn {
    aspect-ratio: 1;
    padding: 4px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.closeBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.closeIcon {
    background: transparent;
    color: #fff;
    width: 30px;
    height: 30px;
}
.cardIconContainer {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lockLogo {
    color: #FF4654;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 18px #FF4654);
}
.cardLogo {
    color: #FF3AAD;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 18px #FF3AAD);
}
.bankLogo {
    color: #3FC5FF;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 18px #3FC5FF);
}
.cardIconContainer img {
    width: 30px;
    height: auto;
}
.infoContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    width: 100%;
    gap: 30px;
}
.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.openContainer,
.hiddenContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.inputsContainer label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.infoContainer input {
    width: 100%;
    height: 50px;
    color: #fff;
    background: transparent;
    outline: 0;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0 14px;
    border-radius: 14px;
}
.cardPasswordContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.showPasswordBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.eyeIcon {
    width: 26px;
    height: 26px;
    color: #fff;
}
.copyBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.copyBtn svg {
    width: 26px;
    height: 26px;
    fill: #fff;
}
.passwordCopiedMessage {
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #0B0B0B;
    border-radius: 50px;
    height: 40px;
    transform: translateY(-200%);
}
.animate {
    animation: moveDown 3s;
}
.passwordCopiedMessage p {
    color: mediumspringgreen;
}
.selectorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 6px;
    gap: 6px;
}
.selectorBtnPassword,
.selectorBtnCard,
.selectorBtnBank {
    width: 100%;
    background: transparent;
    border: none;
    height: 36px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.selectorBtnPassword .lockLogo,
.selectorBtnCard .cardLogo,
.selectorBtnBank .bankLogo {
    color: #fff;
    width: 20px;
    height: 20px;
    filter: unset;
}
.selectorBtnPassword:hover,
.selectorBtnCard:hover,
.selectorBtnBank:hover {
    background: rgba(255, 255, 255, 0.05);
}
.selectorBtnPassword.selected {
    background: rgba(255, 255, 255, 0.1);
}
.selectorBtnPassword.selected .lockLogo {
    color: #FF4654;
}
.selectorBtnPassword.selected::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background: #FF4654;
}

.selectorBtnCard.selected {
    background: rgba(255, 255, 255, 0.1);
}
.selectorBtnCard.selected .cardLogo {
    color: #FF3AAD;
}
.selectorBtnCard.selected::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background: #FF3AAD;
}

.selectorBtnBank.selected {
    background: rgba(255, 255, 255, 0.1);
}
.selectorBtnBank.selected .bankLogo {
    color: #3FC5FF;
}
.selectorBtnBank.selected::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background: #3FC5FF;
}
.paymentCardForm {
    width: 100%;
}
.createInputsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 18px;
}
.createInputsContainer h2 {
    align-self: center;
}
.createInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.createInput input {
    width: 100%;
    height: 50px;
    border-radius: 14px;
}
.createInput input:hover {
    border-color: rgba(255, 255, 255, 0.1);
}
.createInput input:focus {
    border-color: #fff;
}
.createBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.createBtn {
    width: 100%;
    height: 50px;
    color: #000;
    background: #fff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
.createBtn:hover {
    background: rgba(255, 255, 255, 0.7);
}
.encryptTag {
    align-self: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.footerColor {
    width: 100%;
    height: 3px;
}
@keyframes moveDown {
    0% {
        transform: translateY(-200%);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200%);
    }
}
@media (max-width: 1050px) {
    .cardContainer {
        left: 0;
        width: 100%;
        top: 5%;
        border: unset;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 18px 18px 0 0;
        box-shadow: none;
    }
}
@media (max-width: 500px) {
    .passwordCopiedMessage {
        left: 80px;
        right: 80px;
    }
}