.cardContainer {
    position: fixed;
    bottom: 0;
    width: 500px;
    background: #000;
    top: 20px;
    right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
.open {
    transform: translateY(100%);
}
.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeBtn {
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.closeBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.closeIcon {
    background: transparent;
    color: #fff;
    width: 30px;
    height: 30px;
}
.cardIconContainer {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lockLogo {
    color: #F97316;
    width: 30px;
    height: 30px;
}
.cardLogo {
    color: #EC4899;
    width: 30px;
    height: 30px;
}
.bankLogo {
    color: #6366F1;
    width: 30px;
    height: 30px;
}
.cardIconContainer img {
    width: 30px;
    height: auto;
}
.infoContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    width: 100%;
    gap: 20px;
}
.inputsContainer {
    width: 100%;
}
.inputsContainer label {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.infoContainer input {
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
}
.cardPasswordContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.showPasswordBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.eyeIcon {
    width: 26px;
    height: 26px;
    color: #fff;
}
.copyBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.copyBtn svg {
    width: 26px;
    height: 26px;
    fill: #fff;
}
.passwordCopiedMessage {
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    border-radius: 50px;
    height: 40px;
    transform: translateY(-200%);
}
.animate {
    animation: moveDown 3s;
}
.passwordCopiedMessage p {
    color: mediumspringgreen;
}
@keyframes moveDown {
    0% {
        transform: translateY(-200%);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200%);
    }
}
@media (max-width: 1050px) {
    .cardContainer {
        left: 0;
        width: 100%;
        top: 5%;
        border: unset;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px 10px 0 0;
        box-shadow: none;
    }
}
@media (max-width: 500px) {
    .passwordCopiedMessage {
        left: 80px;
        right: 80px;
    }
}