.vaultPage {
    height: 100svh;
    display: flex;
    --content-right: 600px;
    --content-left: 80px;
    --content-left-small: 80px;
    position: relative;
}
@keyframes show {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
.topBar {
    position: fixed;
    top: 0;
    left: var(--content-left);
    right: var(--content-right);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 140px;
    gap: 20px;
    backdrop-filter: blur(20px);
    /*box-shadow: 0 16px 14px 0 #000;*/
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.layoutSelector {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}
.layoutSelector button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    color: #fff;
    fill: #fff;
    height: 30px;
    width: 30px;
    transition: 0.3s;
    border-radius: 8px;
    cursor: pointer;
}
.layoutSelector button > * {
    width: 24px;
    height: 24px;
}
.layoutSelector button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.desktopHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.searchContainer.active {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    width: unset;
    padding: 20px 0;
    box-shadow: 0 0 14px #000;
    background: #080808;
}
.searchContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.searchContainerInner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    padding: 0 20px;
}
.searchIcon {
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.4);
    width: 22px;
    height: 22px;
}
.searchInput {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 50px;
    color: #fff;
    outline: none;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 50px;
}
.searchInput:hover {
    border-color: rgba(255, 255, 255, 0.05);
    background: transparent;
}
.searchInput:focus {
    border-color: #fff;
    background: transparent;
    outline: 6px solid rgba(255, 255, 255, 0.2);
}
.searchItemsContainer {
    width: 100%;
    height: 408px;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;  /* hides scrollbar in Firefox */
    -ms-overflow-style: none; /* hides scrollbar in IE and Edge */
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.searchContainer.active .searchItemsContainer {
    display: flex;
}
.searchItemsContainer::-webkit-scrollbar {
    display: none;
}


.searchItemsContainer .cell {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    aspect-ratio: unset;
    flex-shrink: 0;
    gap: 20px;
}
.searchItemsContainer .logoContainer {
    flex-shrink: 0;
}
.searchItemsContainer .accountCardInfo {
    width: 50px;
    flex: 1;
    padding: 0;
}
.searchItemsContainer .cellHeader {
    position: unset;
    width: unset;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0;
}
.searchItemsContainer .cell:hover .headerDeleteBtn {
    display: none;
}
.searchItemsContainer .accountCardInfo {
    align-items: start;
}
.searchItemsContainer .accountCardInfo h3,
.searchItemsContainer .accountCardInfo p {
    max-width: 100%;
}
.searchContainer.active .searchItemsContainer {
    margin-top: 20px;
}
.contentContainer {
    position: absolute;
    top: 140px;
    right: var(--content-right);
    left: var(--content-left);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    justify-items: center;
    padding: 30px;
    gap: 10px;
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cell {
    width: 100%;

    border-radius: 18px;
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.05);
    gap: 10px;
    position: relative;
    overflow: hidden;
    background: #080808;
    transition: 0.3s;
    box-shadow: 0 0 8px #000;
}
.disabledCell {
    pointer-events: none !important; /* No clicks or hovers */
    opacity: 1; /* or dim it if you want */
}
.cellOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}
.cellOverlay.active {
    display: block;
}
.cardAccountSelected {
    outline: rgba(255, 255, 255, 0.2) solid 5px;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.05);
}
.cell img {
    width: 30px;
}
.cell:hover {
    border-color: #fff;
}
.cellHeader {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logoContainer {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.lockLogo {
    color: #FF4654;
    width: 30px;
    height: 30px;
}
.cardLogo {
    color: #FF3AAD;
    width: 30px;
    height: 30px;
}
.bankLogo {
    color: #3FC5FF;
    width: 30px;
    height: 30px;
}
.headerDeleteBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.headerDeleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.headerDeleteIcon {
    color: #fff;
    width: 26px;
    transition: 0.3s;
}
.favBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: 0.2s;
}
.starIcon {
    fill: #fff ;
    width: 20px;
    transition: 0.2s;
}
.starIconSelected {
    fill: yellow;
    width: 20px;
}
.favBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.favBtn:hover .starIcon {
    fill: yellow;
}
.accountCardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 16px;
}
.accountCardInfo h3 {
    color: #fff;
}
.accountCardInfo p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.accountCardInfo h3,
.accountCardInfo p {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cell:hover .headerDeleteBtn {
    visibility: visible;
    opacity: 1;
}
.cardArea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--content-right);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 1;
}
.profileCard {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px;
}
.profileCard p {
    position: absolute;
    left: 0;
    width: 200px;
}
.profileImgContainer {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: gray;
    flex-shrink: 0;
    overflow: hidden;
}
.profileImg {
    width: 100%;
    height: 100%;
}
.profileCard:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mobileHeader {
    display: none;
}
@media (max-width: 1500px) {
    .topBar {
        left: var(--content-left-small);
    }
    .contentContainer {
        left: var(--content-left-small);
    }
    .logo {
        margin: 0;
    }
}
@media (max-width: 1285px) {
    .contentContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .cell {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        padding: 20px;
        aspect-ratio: unset;
        gap: 20px;
    }
    .logoContainer {
        flex-shrink: 0;
    }
    .accountCardInfo {
        width: 50px;
        flex: 1;
        padding: 0;
    }
    .cellHeader {
        position: unset;
        width: unset;
        right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0;
    }
    .accountCardInfo {
        align-items: start;
    }
    .accountCardInfo h3,
    .accountCardInfo p {
        max-width: 100%;
    }
}
@media (max-width: 1050px) {
    .vaultPage {
        --content-right: 0;
    }
    .vaultOverlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }
    .vaultActive {
        visibility: hidden;
        opacity: 0;
    }
    .cardArea {
        z-index: 20;
        border: none;
    }
    .vaultActive {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 500px) {
    .vaultPage {
        --content-right: 0;
        --content-left: 0;
    }
    .cell:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }
    .headerDeleteBtn {
        display: flex;
    }
    .contentContainer {
        top: 66px;
        left: var(--content-left);
        padding: 30px 10px;
        padding-bottom: 70px;
    }
    .topBar {
        top: 50px;
        left: 0;
        padding: 0 10px;
        display: none;
    }
    .cell {
        flex-shrink: 0;
    }
    .mobileHeader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        z-index: 1;
    }
    .mobileHeaderTop {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
    .mobileLogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .mobileLogo {
        width: 24px;
        height: auto;
        filter: invert(100%);
        background: transparent;
    }
    .mobileHeaderTop h1 {
        font-size: 20px;
        color: #fff;
    }
    .mobileHeaderRight {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .mobileSearchBtn {
        border: none;
        background: transparent;
    }
    .profileBtn {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .userIcon {
        width: 20px;
        height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
    .mobileHeaderBottom {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 0 20px;
        z-index: 1;
        background: transparent;
    }
    .mobileSearchIcon {
        width: 24px;
        height: 24px;
        color: #fff;
    }
    .mobileHeaderBottom h1 {
        color: #fff;
        font-size: 18px;
    }
    .cardAccountSelected {
        outline: none;
        border-color: rgba(255, 255, 255, 0.1);
    }
}
