.vaultPage {
    height: 100svh;
    display: flex;
}
.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #000;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 20px;
    z-index: 2;
}
.sideBar h1 {
    color: #fff;
    padding: 30px 20px;
}
.sideBarButton {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
    transition: 0.2s;
}
.sideBarIcon {
    color: #fff;
    width: 24px;
    height: 24px;
    stroke-width: 2;
}
.sideBarButton:hover {
    background: rgba(255, 255, 255, 0.1);
}
.topBar {
    position: fixed;
    top: 0;
    left: 300px;
    right: 600px;
    background: #000;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 50px;
    height: 80px;
    gap: 50px;
    box-shadow: 0 16px 14px 0 #000;
    z-index: 1;
}
.logoContainer {
    color: #fff;
}
.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchIcon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.4);
    width: 22px;
    height: 22px;
}
.searchInput {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 50px;
    color: #fff;
    outline: none;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
}
.searchInput:hover {
    border-color: rgba(255, 255, 255, 0.1);
    background: transparent;
}
.searchInput:focus {
    border-color: rgba(255, 255, 255, 0.1);
    background: transparent;
}
.contentContainer {
    position: absolute;
    top: 80px;
    right: 600px;
    left: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    padding: 50px 100px;
    gap: 10px;
}
.cell {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: 0.2s;
}
.logoContainer {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.cellHeader {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.headerMenuBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
}
.favBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
}
.favBtn svg {
    fill: #fff ;
    width: 20px;
}
.favBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.headerMenuBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.headerMenuIcon {
    color: #fff;
    width: 26px;
}
.cell img {
    width: 30px;
}
.cell h3 {
    color: #fff;
}
.cell p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
}
.cell:hover {
    border-color: #fff;
}
.cardArea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1;
}
.logoutBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: #f54242;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.logoutBtn:hover {
    background: #c93636;
}
.logoutBtn:disabled {
    opacity: 0.6;
    pointer-events: none;
}
.dotLoader {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    height: 1em;
}
.dot {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.6);
    }
}
.cardContainer {
    position: fixed;
    bottom: 0;
    width: 560px;
    background: #000;
    top: 20px;
    right: 20px;
    border-radius: 20px 20px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}
.open {
    transform: translateY(100%);
}