.vaultPage {
    height: 100svh;
    display: flex;
    --content-right: 540px;
    --content-left: 250px;
    --content-left-small: 80px;
}
.vaultOverlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.vaultActive {
    visibility: hidden;
    opacity: 0;
}
@keyframes show {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--content-left);
    background: #000;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0 20px;
    z-index: 2;
    gap: 5px;
}
.sideBarHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.sideBar h1 {
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBarButton {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
    transition: 0.2s;
}
.addNewBtn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
    transition: 0.2s;
    background: #fff;
    color: #000;
}
.addNewBtn .sideBarIcon {
    color: #000;
}
.addNewBtn:hover {
    opacity: 0.7;
    background: #fff;
}
.sideBar hr {
    border: none;
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    align-self: center
}
.sideBarIcon {
    color: #fff;
    width: 24px;
    height: 24px;
    stroke-width: 2;
}
.sideBarButton:hover {
    background: rgba(255, 255, 255, 0.1);
}
.sideBarSmall {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #000;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 80px;
    z-index: 2;
    gap: 5px;
}
.sideBarSmall h1 {
    color: #fff;
    padding: 30px 20px;
}
.sideBarSmallButton {
    background: transparent;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sideBarSmallButton:hover {
    background: rgba(255, 255, 255, 0.1);
}
.sideBarLogoContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 30px;
    height: auto;
    filter: invert(100%);
    background: #fff;
    margin-left: 20px;
}
.topBar {
    position: fixed;
    top: 0;
    left: var(--content-left);
    right: var(--content-right);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 140px;
    gap: 20px;
    /*box-shadow: 0 16px 14px 0 #000;*/
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.desktopHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.searchContainer.active {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: unset;
    padding: 20px 0;
    box-shadow: 0 30px 20px -20px #000;
    background: #000;

}
.searchContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.searchContainerInner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    padding: 0 20px;
}
.searchIcon {
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.4);
    width: 22px;
    height: 22px;
}
.searchInput {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 50px;
    color: #fff;
    outline: none;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 50px;
}
.searchInput:hover {
    border-color: rgba(255, 255, 255, 0.1);
    background: transparent;
}
.searchInput:focus {
    border-color: #fff;
    background: transparent;
    outline: 6px solid rgba(255, 255, 255, 0.2);
}
.searchItemsContainer {
    width: 100%;
    height: 408px;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;  /* hides scrollbar in Firefox */
    -ms-overflow-style: none; /* hides scrollbar in IE and Edge */
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.searchContainer.active .searchItemsContainer {
    display: flex;
}
.searchItemsContainer::-webkit-scrollbar {
    display: none;
}




.searchItemsContainer .cell {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    aspect-ratio: unset;
    flex-shrink: 0;
    gap: 20px;
}
.searchItemsContainer .logoContainer {
    flex-shrink: 0;
}
.searchItemsContainer .accountCardInfo {
    width: 50px;
    flex: 1;
    padding: 0;
}
.searchItemsContainer .cellHeader {
    position: unset;
    width: unset;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0;
}
.searchItemsContainer .cell:hover .headerDeleteBtn {
    display: none;
}
.searchItemsContainer .accountCardInfo {
    align-items: start;
}
.searchItemsContainer .accountCardInfo h3,
.searchItemsContainer .accountCardInfo p {
    max-width: 100%;
}





.searchContainer.active .searchItemsContainer {
    margin-top: 20px;
}
.contentContainer {
    position: absolute;
    top: 140px;
    right: var(--content-right);
    left: var(--content-left);
    min-height: calc(100svh - 140px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
    grid-template-rows: repeat(auto-fit, minmax(180px, 250px));
    justify-content: center;
    /*grid-auto-rows: 1fr;*/
    padding: 30px 50px;
    gap: 10px;
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cell {
    width: 100%;
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    background: #000;
}
.cellOverlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
.active {
    display: block;
}
.cardAccountSelected {
    outline: rgba(255, 255, 255, 0.2) solid 5px;
    border-color: #fff;
}
.sidebarSelected {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.sideBarSmallSelected {
    background: rgba(255, 255, 255, 0.1);
}
.sidebarIconSelected > * {
    color: #fff;
}
.cell img {
    width: 30px;
}
.cell:hover {
    border-color: #fff;
}
.cellHeader {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logoContainer {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.lockLogo {
    color: #d64a40;
    width: 30px;
    height: 30px;
}
.cardLogo {
    color: #b640d6;
    width: 30px;
    height: 30px;
}
.bankLogo {
    color: #6366F1;
    width: 30px;
    height: 30px;
}
.headerDeleteBtn {
    background: transparent;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: 0.2s;
}
.headerDeleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.headerDeleteIcon {
    color: #fff;
    width: 26px;
    transition: 0.3s;
}
.favBtn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: 0.2s;
}
.starIcon {
    fill: #fff ;
    width: 20px;
    transition: 0.2s;
}
.starIconSelected {
    fill: yellow;
    width: 20px;
}
.favBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}
.favBtn:hover .starIcon {
    fill: yellow;
}
.accountCardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 16px;
}
.accountCardInfo h3 {
    color: #fff;
}
.accountCardInfo p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.accountCardInfo h3,
.accountCardInfo p {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cell:hover .headerDeleteBtn {
    display: flex;
}
.cardArea {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--content-right);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1;
}
.profileCard {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.profileCardInner {
    position: absolute;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profileCardInner p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.profileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    flex-shrink: 0;
}
.profileCard:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mobileHeader {
    display: none;
}
@media (max-width: 1500px) {
    .topBar {
        left: var(--content-left-small);
    }
    .sideBarSmall {
        display: flex;
    }
    .sideBar {
        display: none;
    }
    .contentContainer {
        left: var(--content-left-small);
    }
    .logo {
        margin: 0;
    }
}
@media (max-width: 1285px) {
    .contentContainer {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .cell {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        padding: 20px;
        aspect-ratio: unset;
        gap: 20px;
    }
    .logoContainer {
        flex-shrink: 0;
    }
    .accountCardInfo {
        width: 50px;
        flex: 1;
        padding: 0;
    }
    .cellHeader {
        position: unset;
        width: unset;
        right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0;
    }
    .accountCardInfo {
        align-items: start;
    }
    .accountCardInfo h3,
    .accountCardInfo p {
        max-width: 100%;
    }
}
@media (max-width: 1050px) {
    .vaultPage {
        --content-right: 0;
    }
    .cardArea {
        z-index: 20;
        border: none;
    }
    .vaultActive {
        visibility: visible;
        opacity: 1;
    }
}
@media (max-width: 500px) {
    .vaultPage {
        --content-right: 0;
        --content-left: 0;
    }
    .sideBarSmall {
        top: unset;
        width: 100%;
        height: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-right: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        padding: 0 10px;
        z-index: 2;
    }
    .cell:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }
    .headerDeleteBtn {
        display: flex;
    }
    .sideBarIcon {
        color: rgba(255, 255, 255, 0.4);
    }
    .sideBarSmallButton {
        height: 44px;
        width: 44px;
    }
    .profileCard {
        display: none;
    }
    .sideBarLogoContainer {
        display: none;
    }
    .contentContainer {
        top: 66px;
        left: var(--content-left);
        padding: 30px 10px;
        padding-bottom: 70px;
    }
    .topBar {
        top: 50px;
        left: 0;
        padding: 0 10px;
        display: none;
    }
    .cell {
        flex-shrink: 0;
    }
    .mobileHeader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        z-index: 1;
    }
    .mobileHeaderTop {
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
    .mobileLogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .mobileLogo {
        width: 24px;
        height: auto;
        filter: invert(100%);
        background: #fff;
    }
    .mobileHeaderTop h1 {
        font-size: 20px;
        color: #fff;
    }
    .mobileHeaderRight {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .mobileSearchBtn {
        border: none;
        background: transparent;
    }
    .profileBtn {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #fff;
    }
    .userIcon {
        width: 20px;
        height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
    .mobileHeaderBottom {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 0 20px;
        z-index: 1;
        background: transparent;
    }
    .mobileSearchIcon {
        width: 24px;
        height: 24px;
        color: #fff;
    }
    .mobileHeaderBottom h1 {
        color: #fff;
        font-size: 18px;
    }
    .cardAccountSelected {
        outline: none;
        border-color: rgba(255, 255, 255, 0.1);
    }
}
