.ellipsisMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100px;
    background: #000;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}
.ellipsisMenu.hidden {
    display: none;
}
.deleteBtn {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    color: #ff4545;
    border-radius: 5px;
    cursor: pointer;
}
.deleteBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}