.loginPageContainer {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.loginContainer {
    padding: 0 50px;
    background: #080808;
    border-radius: 16px;
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.loginContainer h1 {
    font-size: 50px;
    color: #fff;
    line-height: 1;
}
.signInBtn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-weight: 700;
}
.signInBtn:hover {
    background: #bababa;
}
.googleImg {
    width: 30px;
    height: 30px;
}
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logoContainer p:first-child {
    font-weight: 700;
    font-size: 34px;
    color: #fff;
}
.logoContainer p:nth-child(2) {
    font-size: 22px;
    color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logoContainer p:last-child {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 16px;
}
.logoContainer p > svg {
    fill: mediumpurple;
    width: 14px;
}
.loginContainer hr {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}
@media (max-width: 600px) {
    .loginContainer {
        background: transparent;
        padding: 0;
    }
}