.loginPageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 80px);
}
.loginImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    padding: 40px;
}
.imgContainer {
    height: 65%;
    transform: rotate(-10deg) skew(25deg);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -20px 20px 20px mediumpurple;
    border-radius: 20px;
    overflow: hidden;

}
.image {
    height: 100%;
    width: auto;
}
.loginContainer {
    background: transparent;
    padding: 40px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}
.header h1 {
    color: #fff;
    font-size: 30px;
}
.header p {
    color: #808080;
    font-size: 16px;
}
.googleBtn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    font-weight: 700;
}
.googleBtnContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.googleBtn:hover {
    background: #bababa;
}
.googleBtn:disabled {
    opacity: 0.6;
    pointer-events: none;
}
.googleImg {
    width: 30px;
    height: 30px;
}
.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.divider hr {
    border: none;
    width: 100%;
    height: 1px;
    background: #242424;
}
.divider p {
    color: #808080;
}
.loginForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.emailWrapper,
.passwordWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    gap: 10px;
}
.passwordInputWrapper {
    width: 100%;
    position: relative;
}
.showPasswordBtn {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.eyeIcon {
    color: #808080;
}
.emailInput,
.passwordInput {
    width: 100%;
    border: 1px solid #242424;
    background: #080808;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    color: #fff;
    outline: none;
}
.passwordInput {
    padding-right: 50px;
}
.emailInput:hover,
.passwordInput:hover {
    border-color: #424242;
}
.emailInput:focus,
.passwordInput:focus {
    border-color: #fff;
}
.loginBtn {
    width: 100%;
    height: 50px;
    border: none;
    background: #fff;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.loginBtn:hover {
    background: #bababa;
}
.loginBtn:disabled {
    opacity: 0.6;
    pointer-events: none;
}
.dotLoader {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    height: 1em;
}
.dot {
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.6);
    }
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
}
.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.errorMsg {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #f54242;
}
@media (max-width: 600px) {
    .loginContainer {
        background: transparent;
        border: none;
        padding: 0;
    }
}
@media (max-width: 500px) {
    .loginContainer {
        max-width: 100%;
    }
}