.profileMenu {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: 0.3s;
}
.profileMenu.open {
    visibility: visible;
    opacity: 1;
}
.profileMenuInner {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 20px;
    background: #080808;
    position: relative;
    color: #fff;
    gap: 14px;
}
.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 4px;
    border-radius: 50%;
}
.closeIcon {
    width: 30px;
    height: 30px;
    color: #fff;
}
.closeBtn:hover {
    background: rgba(255, 255, 255, 0.05);
}
.title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
}
.profileContainer img {
    width: 100%;
    height: 100%;
}
.name {
    font-size: 30px;
    font-weight: bold;
}
.email {
    color: rgba(255, 255, 255, 0.5);
}
.logoutBtn {
    position: absolute;
    bottom: 10px;
    height: 50px;
    left: 10px;
    right: 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    color: #f54242;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
.logoutBtn:hover {
    background: rgba(255, 255, 255, 0.05);
}
.logoutBtn:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.dotLoader {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    height: 1em;
}
.dot {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.6);
    }
}
@media (max-width: 500px) {
    .profilePage {
        bottom: 46px;
        top: 21px;
    }
}
@media (max-width: 500px) {
    .profileMenu {
        background: #080808;
        backdrop-filter: unset;
    }
    .profileMenuInner {
        height: 100%;
        border: none;
    }
}